# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/

# build
dist/
build/

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# testing
coverage/
test-results/
playwright-report/
.blob/

# misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts

# IDE
.idea/
.vscode/
*.swp
*.swo

# drizzle
drizzle/meta/
